<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF=8"/>
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width=devise-width, initial-scale=1.0"/>
        <title>Watch movies online</title>
    </head>
    <body>
        <header>
            <h1><i>HOME MOVIE</i></h1>
            <img src="../assets/1slika.jpg" alt="logo"/>
        
            </header>
            <br>

            <form>
                <label for="search">Search</label>
                <input type="search" name="search" id="search" placeholder="Search"/>
                <input type="submit" value="Go"/>
            </form>       
        </heaader>
        <nav>
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </nav>
        <main>
            <section>
                <article>
                <h3>Select genre</h3>
                    <ul>
                        <li><a href="Comedy.html">Comedy</a></li>
                        <li><a href="Action.html">Action</a></li>
                        <li><a href="Fiction.html">Fiction</a></li>
                        <li><a href="Disney.html">Disney</a></li>
                    </ul>
                </article>
            </section>
        </main>
        <aside>
            <h2>This month premieres</h2>
            <ul>
                <li>TOP GUN:Maverick</li>
                <iframe width="300" height="300" src="https://www.youtube.com/embed/giXco2jaZ_4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></video>
            </br>
            </br>

                <li>AVATAR:The way of water</li>
                <video src="../videos/avatar.mp4" type="video/mp4" autoplay controls width="300px"></video>
            </ul>
        </br>
        </br>
            <div>
                <label>Watch movies online:</label>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/yD8SN8rldsw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <br/>
            <div>
                <label>Download aplication for free:</label>
                <iframe width="200" height="200" src="https://play.google.com/store/apps" frameborder="0" allowfullscreen></iframe>
            </div>
        </aside>
        <footer>
          <br/>

            <p>2023 &copy Home Movies. All rights reserved</p>
        </footer>
    </body>
</html>