<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta namw="keywords" content="video, audio, iframe"/>
    <meta name="authors" content="Elena"
</head>
<body>
    
    <div>
        <label>Download application for free:</label>
        <iframe width="200px" height="200px" src="https://play.google.com/store/apps" frameborder="0" allowfullscreen></iframe>
    
    </div>
</body>
</html>